body { margin: 0; }

#wrapper {
  background-color: blueviolet;
  max-width: 100vw;
  min-height: 100vh;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 1em;
}

section {
  overflow: hidden;
  border: 1px solid red;
  flex: 0 0 270px;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}

figure {
  background: url(github.png) no-repeat center center;
  height: 150px;
  width: 100%;
  margin: 0;
}

p {
  margin: .1em 0 .6em;
  font-size: 1.3em;
  font-family: 'Helvetica Neue', sans-serif;
}
